<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="loginConnectionString" connectionString="Data Source=LAPTOP-F2F8GBKQ\SQLEXPRESS;Initial Catalog=login;User ID=Sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="实验室设备管理系统ConnectionString" connectionString="Data Source=LAPTOP-F2F8GBKQ\SQLEXPRESS;Initial Catalog=实验室设备管理系统;User ID=Sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="实验室设备管理系统ConnectionString2" connectionString="Data Source=LAPTOP-F2F8GBKQ\SQLEXPRESS;Initial Catalog=实验室设备管理系统;User ID=Sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="实验室设备管理系统ConnectionString3" connectionString="Data Source=LAPTOP-F2F8GBKQ\SQLEXPRESS;Initial Catalog=实验室设备管理系统;User ID=Sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="实验室设备管理系统ConnectionString4" connectionString="Data Source=LAPTOP-F2F8GBKQ\SQLEXPRESS;Initial Catalog=实验室设备管理系统;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="实验室设备管理系统ConnectionString5" connectionString="Data Source=LAPTOP-F2F8GBKQ\SQLEXPRESS;Initial Catalog=实验室设备管理系统;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="实验室设备管理系统ConnectionString6" connectionString="Data Source=LAPTOP-F2F8GBKQ\SQLEXPRESS;Initial Catalog=实验室设备管理系统;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
